*.class
*.jar
*build
.bundle
.yardoc
Gemfile.lock
coverage
doc
ext/Makefile
ext/geoipdb/Makefile
ext/geoipdb/geoipdb.bundle
ext/geoipdb/geoipdb.o
ext/geoipdb/ipdb.o
ext/geoipdb/test
ext/geoipdb/test.o
pkg
rdoc
tags
